*
{
	transition: all 0.9s ease-in-out;
}
body
{
	background: white;
}
.login-container
{
	position: absolute;
	height:450px;
	width: 300px;
	background:grey;
	margin:60px;
	overflow: hidden;
border-radius:10px;
  bottom:10px;
  top:10px;
  left:100px;
  
}
.login-container:hover
{
    background: linear-gradient(to right, rgb(94, 94, 227),rgb(194, 92, 194));
}
.login-container:nth-child(2)
{
    top:10px;
  left:500px;
}
.circles
{
	position: absolute;
}
.circles*
{
	position: absolute;
	display: inline-block;
}
.circle-1
{
	position: absolute;
	height: 150px;
	width: 150px;
	background: black;
	border-radius:100%;
	left: -90px;
	top: -70px;
}
.circle-2
{
	position: absolute;
	height: 150px;
	width:150px;
	background: black;
	border-radius:100%;
	left: 240px;
	top: -70px;
}
.login-container:hover .head
{
	transform: rotate(15deg);
}

.head
{
	position:absolute;
	height:80px;
	width:80px;
	background:transparent;
	top: 50px;
	left: 110px;
	border-radius: 50px;
  border-top-right-radius:20px;
  animation:rotate 5s infinite;
}
@keyframes rotate
{
  0%
  {
    
    transform:rotate(-30deg);
  }
  20%
  {
    
    transform:rotate(30deg);
  }
  50%
  {
    
    transform:rotate(-30deg);
  }
  80%
  {
    
    transform:rotate(30deg);
  }
  100%
  {
    
    transform:rotate(-30deg);
  }
  
}
.login-container:hover .smile img
{
  position:absolute;
  height:70px;
  width:100px;
  top:42px;
  transform:rotateX(0deg);
  opacity:1
}
.smile img
{
  position:absolute;
  height:70px;
  width:100px;
  top:42px;
  opacity:0
  
}
.eyes
{
	position: absolute;
height: 20px;
width: 70px;

top: 10px;
left: 5px;
}
.eyes>div
{
	position: absolute;
	display: inline-block;
	
}

.left-eyes
{
	position: absolute;
	height: 30px;
	width: 30px;
	background: black;
	left: -10px;
	border-radius: 100%;
	overflow: hidden;
	
}
.eye-circle-1
{
	position: absolute;
	background:white;
	height: 15px;
	width: 15px;
	border-top-right-radius:20px;
	border-top-left-radius:20px;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	left: 15px;
}
.right-eyes
{
	position: absolute;
	height: 30px;
	width: 30px;
	background: black;
	left: 60px;
	border-radius: 100%;
	overflow: hidden;
}
.eye-circle-2
{
	position: absolute;
	background:white;
	height: 15px;
	width: 15px;
	border-top-right-radius:20px;
	border-top-left-radius:20px;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	left: 15px;
}
.nose
{
	position: absolute;
	height:15px;
	width: 25px;
	background: black;
	top: 55px;
	left: 32px;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 100px;
	border-bottom-left-radius: 100px;
	overflow: hidden;
}
.nose-circle
{
	position: absolute;
	height: 5px;
	width: 6px;
	border-radius: 60%;
	background: grey;
	left: 6px;

}
.login-container:hover .mouth
{
	height:18px;
	border-bottom-right-radius: 100px;
	border-bottom-left-radius: 100px;
}
.mouth
{
	position: absolute;
	height: 7px;
	width: 35px;
	background: black;
	top: 90px;
	left: 30px;
	border-bottom-right-radius: 100px;
	border-bottom-left-radius: 100px;
	
}

.login-container:hover .toungue
{
	height:25px;
	opacity: 1;
}
.toungue
{
	position: absolute;
	height: 0px;
	width: 21px;
	background:white;
	border-bottom-right-radius: 100px;
	border-bottom-left-radius: 100px;
	left: 6px;
	top:px;
	opacity: 1;
}

.login-container:hover .hand-1
{
  transform:rotateX(180deg);
  top:50px;
  rotate:15deg;
  left:40px
}
.hand-1
{
  position:absolute;
  height:40px;
  width:30px;
  background:lightgrey;
  top:200px;
  left:105px;
  border-radius:50px;
  rotate:-15deg
  
}
.login-container:hover .hand-2
{
  transform:rotateX(180deg);
  top:50px;
  rotate:-15deg;
  left:230px
}
.finger-1
{
  position:absolute;
  height:15px;
  width:1px;
  background:grey;
  top:22px;
  left:5px;
  border-bottom-right-radius:10px;
}
.finger-2
{
  position:absolute;
  height:20px;
  width:1px;
  background:grey;
  top:20px;
  left:9px;
  border-bottom-right-radius:10px;
}
.finger-3
{
  position:absolute;
  height:22px;
  width:1px;
  background:grey;
  top:19px;
  left:13px;
  border-bottom-right-radius:10px;
}
.finger-4
{
  position:absolute;
  height:22px;
  width:1px;
  background:grey;
  top:19px;
  left:17px;
  border-bottom-right-radius:10px;
}
.finger-5
{
  position:absolute;
  height:17px;
  width:1px;
  background:grey;
  top:22px;
  left:21px;
  border-bottom-right-radius:10px;
 
}
.hand-2
{
  position:absolute;
  height:40px;
  width:30px;
  background:lightgrey;
  top:200px;
  left:170px;
  border-radius:50px; 
  rotate:15deg;
}
.finger-6
{
  position:absolute;
  height:15px;
  width:1px;
  background:grey;
  top:22px;
  left:5px;
  border-bottom-right-radius:10px;
}
.finger-7
{
  position:absolute;
  height:20px;
  width:1px;
  background:grey;
  top:20px;
  left:9px;
  border-bottom-right-radius:10px;
}
.finger-8
{
  position:absolute;
  height:22px;
  width:1px;
  background:grey;
  top:19px;
  left:13px;
  border-bottom-right-radius:10px;
}
.finger-9
{
  position:absolute;
  height:22px;
  width:1px;
  background:grey;
  top:19px;
  left:17px;
  border-bottom-right-radius:10px;
}
.finger-10
{
  position:absolute;
  height:17px;
  width:1px;
  background:grey;
  top:22px;
  left:21px;
  border-bottom-right-radius:10px;
 
}
.content
{
  position:absolute;
}
.form 
{
  position:absolute;
  height:100px;
  width:60px;
  border-radius:20px;
  top:220px;
  left:50px;
  
  
}
input
{
  height:40px;
  width:210px;
  border-radius:30px;
  padding: 12px 40px;
  margin: 5px 0px;
  box-sizing: border-box;
  background:lightgray;
  border:none;
  opacity:0.5;
}
.form  .img-1 img
{
  position:absolute;
  height:30px;
  width:30px;
  top:10px;
  left:10px;
}
.form  .img-2 img
{
  position:absolute;
  height:30px;
  width:30px;
  left:10px;
  top:60px
}
.form  .img-3 img
{
  position:absolute;
  height:30px;
  width:30px;
}
.buttons button:hover
{
  transform:scale(90%)
}
.buttons button
{
  position:absolute;
  height:20px;
  width:70px;
  border-radius:30px;
    background:black;
  color:white;
  top:65px;
  left:120px;
}
.login-button button:hover
{
  transform:scale(90%)
}
.login-button button
{
  position:absolute;
  height:30px;
  width:250px;
  border-radius:30px;
  top:330px;
  left:25px;
  color:white;
  background:black;
  box-shadow: 10px 30px 30px rgba(0,0,0,0.6);
  transform:scale(1.1)
}


.title
{
  position:absolute;
  
}
.title h3
{
  position:absolute;
  top:300px;
    
}
.login-container:hover .icon-1 img
{
  left:240px;
  opacity:1
}

.icon-1 img
{
  position:absolute;
  height:40px;
  width:40px;
  left:130px;
  top:380px;
  opacity:0
}
.icon-2 img
{
  position:absolute;
  height:40px;
  width:40px;
  top:380px;
  left:130px
}
.login-container:hover .icon-3 img
{
  left:10px;
  opacity:1
}
.icon-3 img
{
  position:absolute;
  height:40px;
  width:40px;
  top:380px;
  left:130px;
  opacity:0
}
.div-1
{
  position:absolute;
  top:410px;
  left:105px;
}